<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<!-- <link rel="stylesheet" href="css/profile.css"> -->
<script src="js/modal.js"></script>
</head>
<body>
	<header>
		<h1>Alimentos</h1>
	</header>
	<div ng-if="profile.isUser == 'USER' || profile.isAdmin == 'ADMIN'">
	<div class="table-responsive">
		<input class="form-control" type="text" ng-model="searchCriteria"
			placeholder="Que alimento deseja procurar?" />
		<table id="example" class="table table-striped table-bordered"
			cellspacing="0" width="100%" ng-model="alimentoList">
			<thead>
			<tr>
				<th><a href="" ng-click="orderBy('nome')">Nome Alimento</a></th>
			</tr>
			</thead>

			<tbody>
				<tr ng-repeat="alimento in alimentoList | filter: searchCriteria | orderBy : rowOrdered :orderDirection">
					<td>{{alimento.nome}}</td>

					<td><a class="btn btn-info"
						ng-click="editAlimento(alimento.id)"> <i
							class="fa fa-search-plus" aria-hidden="true"></i> Ver Alimento
					</a> <a class="btn btn-warning" ng-click="deleteAlimento(alimento.id)">
							<i class="fa fa-trash" aria-hidden="true"></i> Apagar
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

	<hr />
	<div>
		<a href="#/main" class="btn btn-primary"> <i
			class="fa fa-arrow-left" aria-hidden="true"></i> Voltar Atrás
		</a>
		<button ng-click="toggleModal()" class="btn btn-success">
			<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
		</button>
		<modal title="Adicionar Alimento" visible="showModal">
		<form role="form" name="alimentoForm">
			<div class="form-group">
				<label for="nome"><h1>Nome</h1> </label> <input type="text"
					class="form-control" ng-model="alimento.nome" id="nome"
					placeholder="Coloque o nome do alimento " ng-required="true" /> <label
					for="nome">Calorias</label> <input type="text" class="form-control"
					ng-model="alimento.calorias" id="calorias"
					placeholder="Coloque o valor calorico" ng-required="true" /> <label
					for="nome">Gordura</label> <input type="text" class="form-control"
					ng-model="alimento.gordura" id="gordura"
					placeholder="Coloque a gordura do alimento" ng-required="true" /> <label
					for="nome">Colestrol</label> <input type="text"
					class="form-control" ng-model="alimento.colestrol" id="colestrol"
					placeholder="Coloque o valor do colestrol" ng-required="true" /> <label
					for="nome">Sódio</label> <input type="text" class="form-control"
					ng-model="alimento.sodio" id="sodio"
					placeholder="Coloque o valor de sódio" ng-required="true" /> <label
					for="nome">Potassio</label> <input type="text" class="form-control"
					ng-model="alimento.potassio" id="potassio"
					placeholder="Coloque o valor de potassio" ng-required="true" /> <label
					for="nome">Carboidrato</label> <input type="text"
					class="form-control" ng-model="alimento.carboidrato"
					id="carboidrato" placeholder="Coloque o valor de potassio"
					ng-required="true" /> <label for="nome">Fibra</label> <input
					type="text" class="form-control" ng-model="alimento.fibra"
					id="fibra" placeholder="Coloque o valor de fibra"
					ng-required="true" /> <label for="nome">Acucar</label> <input
					type="text" class="form-control" ng-model="alimento.acucar"
					id="acucar" placeholder="Coloque o valor de açucar"
					ng-required="true" /> <label for="nome">Proteina</label> <input
					type="text" class="form-control" ng-model="alimento.proteina"
					id="proteina" placeholder="Coloque o valor de proteína"
					ng-required="true" />

			</div>
			<button ng-disabled="alimentoForm.$invalid"
				ng-click="createNewAlimento(alimento)" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
					
		</form>
		</modal>
	</div>
</body>