<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/modal.js"></script>
</head>
<body>
<div ng-if="profile.isUser == 'USER' || profile.isAdmin == 'ADMIN'">
	<header>
		<h1>Melhore o seu dia-a-dia com uma alimentação saudavel</h1>
	</header>
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<div class="marketing">
		<div class="row grid-divider">
			<div class="col-sm-6">
				<div class="col-padding">
					<h1>Alimentos</h1>
					<img alt="50x50" width="400" height="400"
						src="resources/images/roda.jpg" class="imagePages"> <br /> <br />
					<p>Veja o valor nutricional de cada alimento</p>
					<a href="#/useralimentos" class="btn btn-primary btn-md">Clique aqui</a>
				</div>
			</div>
<!-- 			<div class="col-sm-6"> -->
<!-- 				<div class="col-padding"> -->
<!-- 					<h1>Preferencias</h1> -->
<!-- 					<img alt="50x50" width="400" height="300" -->
<!-- 						src="resources/images/alimentos_pref.png"> <br /> <br /> -->
<!-- 					<p>Cria e consulte uma lista com os seus alimentos</p> -->
<!-- 					<a href="#/clientes" class="btn btn-primary btn-md">Clique aqui</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="col-sm-6">
				<div class="col-padding">
					<h1>Planos</h1>
					<img alt="50x50" width="480" height="400"
						src="resources/images/refeicoes_diarias.png" class="imagePages"> <br /> <br />
					<p>Crie e consulte a sua alimentação diaria</p>
					<a href="#/planosalimentares" class="btn btn-primary btn-md">Clique aqui</a>
				</div>
			</div>


		</div>

	</div>
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	</div>
</body>