<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<!-- <link rel="stylesheet" href="css/profile.css"> -->
<script src="js/modal.js"></script>
</head>
<body>
	<div ng-if="profile.isUser == 'USER' || profile.isAdmin == 'ADMIN'">
		<header>
			<h1>Refeições</h1>
		</header>
		<div class="table-responsive">
			<input class="form-control" type="text" ng-model="searchCriteria"
				placeholder="Que refeicao deseja procurar?" />
			<table id="example" class="table table-striped table-bordered"
				cellspacing="0" width="100%" ng-model="refeicaoList">

				<tbody>
					<tr
						ng-repeat="refeicao in refeicaoList | filter: searchCriteria | orderBy : rowOrdered :orderDirection">
						<td>{{refeicao.nome}}</td>

						<td><a class="btn btn-info"
							ng-click="addRefeicao(refeicao.id)"> <i
								class="fa fa-eye" aria-hidden="true"></i> Ver Refeição
						</a> <a class="btn btn-warning" ng-click="deleteRefeicao(refeicao.id)">
								<i class="fa fa-trash" aria-hidden="true"></i> Apagar
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>