<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/modal.js"></script>
</head>
<body>
	<header>
		<h1>Medidas</h1>
	</header>
	<div class="table-responsive">
		<table id="example" class="table table-striped table-bordered"
			cellspacing="0" width="100%" ng-model="medidasList">
			<thead>
				<tr>
					<th>Data</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr
					ng-repeat="medida in medidasList">
					<td>{{medida.data |date: 'dd-MM-yyyy'}}</td>

					<td><a class="btn btn-info"
						ng-click="editMedidaUser(medida.id)"> <i
							class="fa fa-search-plus" aria-hidden="true"></i> Ver Medição
					</a> <a class="btn btn-warning" ng-click="deleteMedida(medida.id)">
							<i class="fa fa-trash" aria-hidden="true"></i> Apagar
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />
	<div>
		<a href="#/main" class="btn btn-primary"> <i
			class="fa fa-arrow-left" aria-hidden="true"></i> Voltar Atrás
		</a>
		<button ng-click="toggleModal()" class="btn btn-success">
			<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
		</button>
		<modal title="Adicionar Medida" visible="showModal">
		<form role="form" name="medidasForm">

			<div class="form-group">
				<label for="peso">Peso (kg)</label> <input type="number" step="0.01"
					class="form-control" ng-model="medida.peso" id="peso"
					name="pesoForm" placeholder="Coloque o seu peso atual [0.0]"
					ng-required="true" />

				<div ng-show="medidasForm.pesoForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique o Peso</p>
				</div>
			</div>

			<div ng-show="medidasForm.pesoForm.$valid" class="form-group">
				<label for="altura">Altura (cm)</label> <input type="number"
					name="alturaForm" step="0.01" class="form-control"
					ng-model="medida.altura" id="altura"
					placeholder="Coloque a sua altura atual [0.0]" ng-required="true" />

				<div ng-show="medidasForm.alturaForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Altura</p>
				</div>
			</div>

			<div ng-show="medidasForm.alturaForm.$valid" class="form-group">
				<label for="pescoco">Pescoco (cm)</label> <input type="number"
					step="0.01" class="form-control" ng-model="medida.pescoco"
					name="pescocoForm" id="pescoco"
					placeholder="Coloque a largura do seu pescoço [0.0]"
					ng-required="true" />

				<div ng-show="medidasForm.pescocoForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a largura do Pescoço</p>
				</div>
			</div>

			<div ng-show="medidasForm.pescocoForm.$valid" class="form-group">
				<label for="cintura">Cintura (cm)</label> <input type="number"
					step="0.01" class="form-control" ng-model="medida.cintura"
					name="cinturaForm" id="cintura"
					placeholder="Coloque a largura da sua cintura [0.0]"
					ng-required="true" />

				<div ng-show="medidasForm.cinturaForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Largura da Cintura</p>
				</div>
			</div>

			<div ng-show="medidasForm.cinturaForm.$valid" class="form-group">
				<label for="quadris">Quadris (cm)</label> <input type="number"
					step="0.01" class="form-control" ng-model="medida.quadris"
					name="quadrisForm" id="quadris"
					placeholder="Coloque a largura dos seus quadris [0.0]"
					ng-required="true" />

				<div ng-show="medidasForm.quadrisForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Largura dos Quadris</p>
				</div>
			</div>

			<input type="hidden" ng-model="medida.user" id="profile"
				value="{{profile.email}}" />

			<div ng-show="medidasForm.quadrisForm.$valid" class="form-group">
				<label for="data">Data da Medição</label> <input type="date"
					class="form-control" ng-model="medida.data" id="data"
					name="dataForm"
					placeholder="Coloque a data em que registou os valores anteriores" />

				<div ng-show="medidasForm.dataForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Data da Medição</p>
				</div>
			</div>

			<button ng-disabled="medidasForm.$invalid"
				ng-click="createNewMedidaUser(medida, profile.email)"
				class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
		</form>
		</modal>

		<!-- 	Modal Apagar Medição -->
		<modal visible="showModalApagar" id="modalApagar">

		<form>
			<div>
				<div class="form-group">
					<label id="Apagar"><h1>Medição Excluida com Sucesso!</h1></label>
				</div>

			</div>
			<button type="button" class="btn btn-success"
				ng-click="closeApagar()">
				<i class="fa fa-times" aria-hidden="true"></i> Ok
			</button>
		</form>
		</modal>
	</div>
</body>