<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/modal.js"></script>
</head>
<body>
	<header>
		<h1 align="center">Detalhes do Objetivo</h1>
		<br>
	</header>
	<table class="table objetivoTable">


		<tr>
			<th>Utilizador</th>
			<td>{{objetivo.user.email}}</td>
		</tr>
		<tr>
			<th>Data em que espera alcançar resultados</th>
			<td>{{objetivo.data| date: 'dd-MM-yyyy'}}</td>
		</tr>
		<tr>
			<th>Peso</th>
			<td>{{objetivo.peso}} Kg</td>
		</tr>
		<tr>
			<th>Pescoço</th>
			<td>{{objetivo.pescoco}} cm</td>
		</tr>
		<tr>
			<th>Cintura</th>
			<td>{{objetivo.cintura}} cm</td>
		</tr>
		<tr>
			<th>Quadris</th>
			<td>{{objetivo.quadris}} cm</td>
		</tr>

	</table>
	<hr />
	<div ng-controller="ObjetivosUpdateController">
		<a href="#/objetivos" class="btn btn-primary"> <i
			class="fa fa-arrow-left" aria-hidden="true"></i> Voltar Atrás
		</a>
		<button ng-click="toggleModal()" class="btn btn-success">
			<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Alterar
		</button>

		<modal title="Modificar Objetivo" visible="showModal">
		<form role="form" name="objetivosForm">

			<div class="form-group">
				<label for="peso">Peso (kg)</label> <input type="number" step="0.01"
					class="form-control" ng-model="objetivo.peso" id="peso"
					name="pesoForm"
					placeholder="Coloque o peso que pretende atingir [0.0]"
					ng-required="true" />

				<div ng-show="objetivosForm.pesoForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique o Peso</p>
				</div>
			</div>

			<div ng-show="objetivosForm.pesoForm.$valid" class="form-group">
				<label for="pescoco">Pescoco (cm)</label> <input type="number"
					step="0.01" class="form-control" ng-model="objetivo.pescoco"
					id="pescoco" name="pescocoForm"
					placeholder="Coloque a largura de pescoço que deseja atingir [0.0]"
					ng-required="true" />

				<div ng-show="objetivosForm.pescocoForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Largura do Pescoço</p>
				</div>
			</div>

			<div ng-show="objetivosForm.pescocoForm.$valid" class="form-group">
				<label for="cintura">Cintura (cm)</label> <input type="number"
					step="0.01" class="form-control" ng-model="objetivo.cintura"
					id="cintura" name="cinturaForm"
					placeholder="Coloque a largura de cintura que deseja atingir [0.0]"
					ng-required="true" />

				<div ng-show="objetivosForm.cinturaForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Largura da Cintura</p>
				</div>
			</div>

			<div ng-show="objetivosForm.cinturaForm.$valid" class="form-group">
				<label for="quadris">Quadris (cm)</label> <input type="number"
					step="0.01" class="form-control" ng-model="objetivo.quadris"
					id="quadris" name="quadrisForm"
					placeholder="Coloque a largura de quadris que deseja atingir [0.0]"
					ng-required="true" />

				<div ng-show="objetivosForm.quadrisForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Largura dos Quadris</p>
				</div>
			</div>

			<div ng-show="objetivosForm.quadrisForm.$valid" class="form-group">
				<label for="data">Data do Evento</label> <input type="date"
					format-date class="form-control" ng-model="objetivo.data" id="data"
					name="dataForm"
					placeholder="Coloque a data em que deseja atingir os objetivos" />

				<div ng-show="objetivosForm.dataForm.$invalid"
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Data para a Realização
						do Objetivo Proposto</p>
				</div>
			</div>

			<button ng-disabled="objetivosForm.$invalid"
				ng-click="updateObjetivo(objetivo)" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Modificar
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
		</form>
		</modal>
	</div>
</body>