<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="css/entity.css">
<link rel="stylesheet" href="css/app.css">
<script src="/js/modal.js"></script>
</head>
<body>
	<header>
		<h1>Atributos</h1>
	</header>
	<div class="table-responsive">
		<input class="form-control" type="text" ng-model="searchCriteria"
			placeholder="Que exercicio deseja procurar?" />
		<table id="example" class="table table-striped table-bordered"
			cellspacing="0" width="100%" ng-model="exercicioList">
			<thead>
				<tr>
					<th><a href="" ng-click="orderBy('nome')">Nome</a></th>
				</tr>
			</thead>

			<tbody>
				<tr
					ng-repeat="atributo in atributoList | filter: searchCriteria | orderBy : rowOrdered :orderDirection">
					<td>{{atributo.nome}}</td>

					<td><a class="btn btn-info"
						ng-click="editAtributo(atributo.id)"> <i
							class="fa fa-search-plus" aria-hidden="true"></i> Ver Atributo
					</a> <a class="btn btn-warning"
						ng-click="deleteAtributo(atributo.id)"> <i
							class="fa fa-trash" aria-hidden="true"></i> Apagar
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />
	<div>
		<a href="#/main" class="btn btn-primary"> <i
			class="fa fa-arrow-left" aria-hidden="true"></i> Voltar Atrás
		</a>
		<button ng-click="toggleModal()" class="btn btn-success">
			<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
		</button>
		<modal title="Adicionar atributo" visible="showModal">
		<form role="form" name="atributoForm">

			<div class="form-group">
				<label for="nome">Nome</label> <input type="text" name="nomeForm"
					class="form-control" ng-model="atributo.nome" id="nome"
					placeholder="Coloque o nome do atributo" ng-required="true" />

				<div ng-show="atributoForm.nomeForm.$invalid "
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique o Nome do Atributo</p>
				</div>
			</div>

			<button ng-disabled="atributoForm.$invalid"
				ng-click="createNewAtributo(atributo)" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
		</form>
		</modal>
		
		
		<!-- 	Modal Apagar Atributo -->
		<modal visible="showModalApagar" id="modalApagar">

		<form>
			<div>
				<div class="form-group">
					<label id="Apagar"><h1>Atributo Fisico Excluido
							com Sucesso!</h1></label>
				</div>

			</div>
			<button type="button" class="btn btn-success"
				ng-click="closeApagar()">
				<i class="fa fa-times" aria-hidden="true"></i> Ok
			</button>
		</form>
		</modal>
	</div>
</body>