<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="css/entity.css">
<link rel="stylesheet" href="css/app.css">
<script src="/js/modal.js"></script>
</head>
<div class="container">
	<h1>Gestão dos Planos Físicos dos Utilizadores</h1>
	<br>

	<!-- Left-aligned media object -->
	<div class="media">
		<img src="resources/images/espaco.JPG"
			class="media-object img-rounded" align="left" style="width: 150px"
			style="height: 150px">
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Adicionar
				Exercicios Físicos</h4>
			<a href="#/exerciciosAdmin" class="btn btn-primary btn-md">
				Clique aqui</a>
		</div>
	</div>
	<hr>
	<div class="media">
		<img src="resources/images/gym3.png" class="media-object" align="left"
			style="width: 150px"> <br>
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Consultar Perfis
				Físicos</h4>
			<a href="#/perfisFisicosAdmin" class="btn btn-primary btn-md">Clique
				aqui</a>
		</div>
	</div>
	<hr>
	<div class="media">
		<img src="resources/images/alimentos.png" class="media-object"
			align="left" style="width: 150px"> <br>
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Criar Perfis
				Fisicos</h4>
			<a href="#/criarPerfisFisicosAdmin" class="btn btn-primary btn-md">Clique
				aqui</a>
		</div>
	</div>
	<hr>
	<div class="media">
		<img src="resources/images/alimentos.png" class="media-object"
			align="left" style="width: 150px"> <br>
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Criar Atributos para os Exercicios Fisicos</h4>
			<a href="#/criarAtributosAdmin" class="btn btn-primary btn-md">Clique
				aqui</a>
		</div>
	</div>
</div>