<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="css/entity.css">
<link rel="stylesheet" href="css/app.css">
<script src="/js/modal.js"></script>
</head>
<div class="container">
	<h1>Gestão dos Planos de Treino dos Utilizadores</h1>
	<br>

	<!-- Left-aligned media object -->
	<div class="media">
		<img src="resources/images/espaco.JPG"
			class="media-object img-rounded" align="left" style="width: 150px"
			style="height: 150px">
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Adicionar Alimentos</h4>
			<a href="#/alimentosAdmin" class="btn btn-primary btn-md"> Clique
				aqui</a>
		</div>
	</div>
	<hr>
	<div class="media">
		<img src="resources/images/gym3.png" class="media-object" align="left"
			style="width: 150px"> <br>
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Consultar Perfis Alimentares</h4>
			<a href="#/perfisAlimentaresAdmin" class="btn btn-primary btn-md">Clique
				aqui</a>
		</div>
	</div>
	<hr>
	<div class="media">
		<img src="resources/images/alimentos.png" class="media-object"
			align="left" style="width: 150px"> <br>
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Criar Perfis Alimentares</h4>
			<a href="#/criarPerfisAlimentaresAdmin" class="btn btn-primary btn-md">Clique
				aqui</a>
		</div>
	</div>
	
	<hr>
	<div class="media">
		<img src="resources/images/alimentos.png" class="media-object"
			align="left" style="width: 150px"> <br>
		<div></div>
		<div class="media-body">
			<h4 class="media-heading" align="text-right">Criar Grupos Alimentares</h4>
			<a href="#/criarGruposAlimentaresAdmin" class="btn btn-primary btn-md">Clique
				aqui</a>
		</div>
	</div>
</div>