<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="css/entity.css">
<link rel="stylesheet" href="css/app.css">
<script src="/js/modal.js"></script>
</head>
<body>
	<header>
		<h1>Perfil Alimentar</h1>
	</header>
	<div class="table-responsive">
		<input class="form-control" type="text" ng-model="searchCriteria"
			placeholder="Que alimento deseja procurar?" />
		<table id="example" class="table table-striped table-bordered"
			cellspacing="0" width="100%" ng-model="perfilalimentarList">

			<tbody>
				<tr
					ng-repeat="perfilalimentar in perfilalimentarList | filter: searchCriteria | orderBy : rowOrdered :orderDirection">
					<td>{{perfilalimentar.user.name}}</td>

					<td><a class="btn btn-info"
						ng-click="editPerfilalimentar(perfilalimentar.id)"> <i
							class="fa fa-search-plus" aria-hidden="true"></i> Ver Perfil
					</a> 
					<button ng-click="toggleModalAddRefeicao()" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar Refeição
				</button>
					<a class="btn btn-warning"
						ng-click="deletePerfilalimentar(perfilalimentar.id)"> <i
							class="fa fa-trash" aria-hidden="true"></i> Apagar
					</a></td>
				</tr>
				
				<!-- 		Modal Refeicao -->
		<modal title="Adicionar Refeicao" visible="showModalRefeicao" >
		<form role="form" name="refeicaoForm">

			<div class="form-group">
				<label for="nome">Nome da Refeição</label> <input type="text"
					class="form-control" ng-model="refeicao.nome" id="nome"
					placeholder="Coloque o nome da refeição" ng-required="true" />
			</div>
			
			

			 <div class="form-group" ng-controller="ProfileController">
		     		<label for="refeicao.perfil">Tipo de Perfil</label>
						<select ng-model="refeicao.perfil" ng-required="true" value=profile.id>
							
						</select>
			  </div>


			<button ng-click="createNewRefeicao(refeicao)" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar Perfil
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
			
		</form>
		</modal>
			</tbody>
		</table>
	</div>

	<hr />
	<div>
		<a href="#/main" class="btn btn-primary"> <i
			class="fa fa-arrow-left" aria-hidden="true"></i> Voltar Atrás
		</a>
		<button ng-click="toggleModal()" class="btn btn-success">
			<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
		</button>
		
		<modal title="Adicionar Medida" visible="showModal">
		<form role="form" name="perfilalimentarForm">

			<div class="form-group">
				<label for="nome">Tipo de Perfil</label> <input type="text"
					class="form-control" ng-model="perfilalimentar.nome" id="peso"
					placeholder="Tipo de Perfil" ng-required="true" />
			</div>

			<div class="form-group">
				<label for="perfilalimentar.dia">Dia da semana</label> <select
					ng-model="perfilalimentar.dia" ng-required="true">
					<option value="Domingo">Domingo</option>
					<option value="Segunda-Feira">Segunda-Feira</option>
					<option value="Terça-Feira">Terça-Feira</option>
					<option value="Quarta-Feira">Quarta-Feira</option>
					<option value="Quinta-Feira">Quinta-Feira</option>
					<option value="Sexta-Feira">Sexta-Feira</option>
					<option value="Sabado">Sabado</option>
				</select>
			</div>

			<div class="form-group">
				<label for="data">Data do Pefil</label> <input type="date"
					class="form-control" ng-model="perfilalimentar.data" id="data"
					placeholder="Coloque a data para este perfil" />

			</div>
			
			<input type="hidden" ng-model="perfilalimentar.user" id="profile" value="{{profile.email}}" />	


			<button ng-click="createNewPerfilalimentar(perfilalimentar, profile.email)"
				class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
			</button>

			<button type="button" class="btn btn-danger" ng-click="closePerfil()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
		</form>
		</modal>
		

	</div>
</body>