<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="css/entity.css">
<link rel="stylesheet" href="css/app.css">
<script src="/js/modal.js"></script>
</head>
<body>
	<div ng-if="profile.isAdmin == 'ADMIN'">
		<header>
			<h1 align="center">{{refeicao.nome}}</h1>
			<br>
		</header>
		<table id="example" class="table planoRefeicaoAdmin">
			<tr>
				<th>Utilizador</th>
				<td>{{refeicao.perfilalimentar.user.email}} -
					{{refeicao.perfilalimentar.user.name}}
					{{refeicao.perfilalimentar.user.lastName}}</td>
			</tr>
			<tr>
				<th>Refeicao</th>
				<td>{{refeicao.nome}}</td>
			</tr>
			<tr>
				<th>Tipo Perfil</th>
				<td>{{refeicao.perfilalimentar.nome}}</td>
			</tr>
			<tr>
				<th>Data Perfil</th>
				<td>{{refeicao.perfilalimentar.data | date: 'dd-MM-yyyy'}} -
					{{refeicao.perfilalimentar.dia}}</td>
			</tr>
			<tr>
				<th>Alimentos a consumir:</th>
				<td><button ng-click="verQuantidadesRefeicoes(refeicao.id)"
						class="btn btn-info">
						<i class="fa fa-eye" aria-hidden="true"></i> Mostrar Alimentos
					</button></td>
			</tr>
		</table>

		<table id="example" class="table table-striped table-bordered"
			cellspacing="50" width="100%" ng-model="quantidadeRefeicaoUserList"
			visible="showTableQuantidadesRefeicoes">
			<thead>
				<tr>
					<th>Nome Alimento</th>
					<th>Quantidade a consumir</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="quantidadealimentar in quantidadeRefeicaoUserList">
					<td>{{quantidadealimentar.alimento.nome}}</td>
					<td>{{quantidadealimentar.quantidade}} {{quantidadealimentar.atributo}}</td>
			</tbody>
		</table>
		<div>
			<button ng-click="voltarAtrasVerAdmin(refeicao.perfilalimentar.id)"
				class="btn btn-primary">
				<i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar atrás
			</button>

		</div>
	</div>

</body>