<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/modal.js"></script>
</head>
<body>

	<header>
		<h1>Consulte os valores nutricionais dos varios tipos de
			exercicio fisico</h1>
	</header>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<div class="marketing">
		<div class="row grid-divider">
			<div class="col-sm-6">
				<div class="col-padding">
					<h1>Exercícios</h1>
					<img alt="50x50" width="400" height="400"
						src="resources/images/exercicio_fisico.png" class="imagePages"> <br /> <br />
					<p>Veja os varios exercicios disponiveis</p>
					<a href="#/userexercicios" class="btn btn-primary btn-md">Clique aqui</a>
				</div>
			</div>
<!-- 			<div class="col-sm-6"> -->
<!-- 				<div class="col-padding"> -->
<!-- 					<h1>Preferencias</h1> -->
<!-- 					<img alt="50x50" width="400" height="300" -->
<!-- 						src="resources/images/my_exercise.png"> <br /> <br /> -->
<!-- 					<p>Consulte os exercicios que pratica</p> -->
<!-- 					<a href="#/clientes" class="btn btn-primary btn-md">Clique aqui</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div class="col-sm-6">
				<div class="col-padding">
					<h1>Planos</h1>
					<img alt="50x50" width="400" height="400"
						src="resources/images/planosTreino.jpg" class="imagePages"> <br /> <br />
					<p>Crie e consulte o seu plano de treino</p>
					<a href="#/quantidadesfisicas" class="btn btn-primary btn-md">Clique aqui</a>
				</div>
			</div>
		</div>

	</div>
	<br>
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
	<br />
	<br>
</body>