<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/modal.js"></script>
</head>
<body>

	<div class="container">
		<h2>Espaço</h2>
		<p>O ginásio BudoGym, tem para lhe oferecer execelentes
			instalações, e uma equipa de excelentes profissionais para a
			realização dos seus objetivos.</p>
		<p>Conheça toda a nossa estrutura</p>
		<br>

		<!-- Left-aligned media object -->
		<div class="media">
			<img src="resources/images/espaco.JPG"
				class="media-object img-rounded" align="left" style="width: 150px" style="height: 150px">
			<div></div>
			<div class="media-body">
				<h4 class="media-heading" align="text-right">Instalações</h4>
				<p>Aqui pode conhecer todas as nossas areas</p>
				<a href="#/instalacoes" class="btn btn-primary btn-md"> Clique
					aqui</a>
			</div>
		</div>
		<hr>
		<div class="media">
			<img src="resources/images/gym3.png" class="media-object"
				align="left" style="width: 150px"> <br>
			<div></div>
			<div class="media-body">
				<h4 class="media-heading" align="text-right">Equipamentos</h4>
				<p>Conheça todas os equipamentos disponiveis nosso espaço</p>
				<a href="#/equipamentos" class="btn btn-primary btn-md">Clique
					aqui</a>
			</div>
		</div>
		<hr>
		<div class="media">
			<img src="resources/images/alimentos.png" class="media-object"
				align="left" style="width: 150px"> <br>
			<div></div>
			<div class="media-body">
				<h4 class="media-heading" align="text-right">Funcionarios</h4>
				<p>Conheça toda a nossa equipa</p>
				<a href="#/funcionários" class="btn btn-primary btn-md">Clique
					aqui</a>
			</div>
		</div>
	</div>
</body>