<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/modal.js"></script>
</head>
<body>
	<div class="container">
		<div></div>

		<div class="row">
			<div class="col-sm-6">
				<img ng-if="promocao.foto" class="imgPromocao"
					ng-src="data:image/jpeg;base64,{{promocao.foto}}"
					alt="Exercicio foto" />
			</div>
			<div class="col-sm-6" id="novidadeColumnTitulo">{{promocao.titulo}}</div>
		</div>
		<div class="row">
			<div class="col-sm-6" id="novidadeColumnData">Data Inicio:
				{{promocao.dataInicio| date: 'dd-MM-yyyy'}}</div>
			<div class="col-sm-6" id="novidadeColumnData">Data Fim:
				{{promocao.dataFim| date: 'dd-MM-yyyy'}}</div>
		</div>
		<div class="row">
			<div class="col-sm-6" id="novidadeColumnBreveDescricao" align="center">{{promocao.breveDesc}}</div>
			<div class="col-sm-6" id="novidadeColumnData" align="center">{{promocao.preco}} €</div>
		</div>
		<div class="row">

			<div class="col-sm-12" id="novidadeColumnDescricao">{{promocao.descricao}}</div>

		</div>

		<div class="row">

			<div class="col-sm-12" id="novidadeColumnDescricao">Detalhes:
				{{promocao.descricao}}</div>

		</div>
	</div>

</body>