<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="css/entity.css">
<link rel="stylesheet" href="css/app.css">
<script src="/js/modal.js"></script>
</head>
<body>

	<header>
		<h1>Promocoes</h1>
	</header>
	<div class="table-responsive">
		<table id="NovidadeTable" class="table table-striped table-bordered"
			cellspacing="50" width="100%" ng-model="promocoesList">
			<tbody>
				<tr>
					<th>Titulo</th>
					<th>Breve Descricao</th>
				</tr>
				<tr ng-repeat="promocao in promocoesList | filter: searchCriteria">
					<td>{{promocao.titulo}}</td>
					<td>{{promocao.breveDesc}}</td>
					<td><a class="btn btn-info"
						ng-click="editPromocao(promocao.id)"> <i
							class="fa fa-search-plus" aria-hidden="true"></i> Consultar
					</a> <a class="btn btn-warning" ng-click="deletePromocao(promocao.id)">
							<i class="fa fa-trash" aria-hidden="true"></i> Apagar
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />
	<div>
		<a href="#/main" class="btn btn-primary"> <i
			class="fa fa-arrow-left" aria-hidden="true"></i> Voltar Atrás
		</a>
		<button ng-click="toggleModal()" class="btn btn-success">
			<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
		</button>
		<modal title="Adicionar Promoção" visible="showModal">
		<form role="form" name="promocaoForm">

			<div class="form-group">
				<label for="titulo">Titulo</label> <input type="text"
					name="tituloForm" class="form-control" ng-model="promocao.titulo"
					id="titulo" placeholder="Coloque o nome do atributo"
					ng-required="true" />

				<div ng-show="promocaoForm.tituloForm.$invalid "
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique o Titulo da Promoção</p>
				</div>
			</div>

			<div ng-show="promocaoForm.tituloForm.$valid" class="form-group">
				<label for="brevedesc">Breve Descricao</label> <input type="text"
					class="form-control" ng-model="promocao.breveDesc" id="breveDesc"
					name="breveDescForm" placeholder="Coloque o nome do atributo"
					ng-required="true" />

				<div ng-show="promocaoForm.breveDescForm.$invalid "
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique uma Breve Descrição</p>
				</div>
			</div>

			<!-- 			<div ng-show="promocaoForm.breveDescForm.$valid" class="form-group"> -->
			<!-- 				<label for="descricao">Descricao</label> <input type="text" -->
			<!-- 					class="form-control" ng-model="promocao.descricao" id="descricao" -->
			<!-- 					name="descForm" placeholder="Coloque o nome do atributo" -->
			<!-- 					ng-required="true" /> -->

			<!-- 				<div ng-show="promocaoForm.descForm.$invalid " -->
			<!-- 					class="alert alert-danger"> -->
			<!-- 					<p class="alertas">Por Favor Indique uma Descrição</p> -->
			<!-- 				</div> -->
			<!-- 			</div> -->


			<div>
				<label for="descricao">Descricao</label>
				<div class="form-group" ng-show="promocaoForm.breveDescForm.$valid">

					<textarea ng-required="true" name="descForm" class="input-xlarge"
						 ng-model="promocao.descricao" id="descricao"
						placeholder="Coloque uma descrição da promoção"
						style="resize: none" rows="10" cols="50" class="comboBox">
					</textarea>
					<div ng-show="promocaoForm.descForm.$invalid "
						class="alert alert-danger">
						<p class="alertas">Por Favor Indique uma Descrição</p>
					</div>
				</div>

			</div>



			<div ng-show="promocaoForm.descForm.$valid" class="form-group">
				<label for="descricao">Preco</label> <input type="number"
					class="form-control" ng-model="promocao.preco" id="preco"
					name="precoForm" placeholder="Coloque o nome do atributo"
					ng-required="true" />

				<div ng-show="promocaoForm.precoForm.$invalid "
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique um Preço da Nova Promoção</p>
				</div>
			</div>

			<div ng-show="promocaoForm.precoForm.$valid" class="form-group">
				<label for="data">Data Inicio</label> <input type="date"
					class="form-control" ng-model="promocao.dataInicio" id="dataInicio"
					name="dataInicioForm" placeholder="Coloque a data para este perfil" />

				<div ng-show="promocaoForm.dataInicioForm.$invalid "
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Data de Inicio</p>
				</div>
			</div>

			<div ng-show="promocaoForm.precoForm.$valid" class="form-group">
				<label for="data">Data Fim</label> <input type="date"
					class="form-control" ng-model="promocao.dataFim" id="dataFim"
					name="dataFim" placeholder="Coloque a data para este perfil" />

				<div ng-show="promocaoForm.dataFimForm.$invalid "
					class="alert alert-danger">
					<p class="alertas">Por Favor Indique a Data do Fim</p>
				</div>
			</div>

			<button ng-disabled="promocaoForm.$invalid"
				ng-click="createNewPromocao(promocao)" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar
			</button>
		</form>
		</modal>


		<!-- 	Modal Apagar Novidade -->
		<modal visible="showModalApagar" id="modalApagar">

		<form>
			<div>
				<div class="form-group">
					<label id="Apagar"><h1>Promoção Excluida com Sucesso!</h1></label>
				</div>

			</div>
			<button type="button" class="btn btn-success"
				ng-click="closeApagar()">
				<i class="fa fa-times" aria-hidden="true"></i> Ok
			</button>
		</form>
		</modal>
	</div>
</body>